
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f8f9;
}

.header1{

    display: flex;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;
    background-color:#FFFFFF;
     height: 50px; 

    
}

  .header2{
    display: flex;
    flex-direction:row;
    align-items: center ; 
    justify-content:flex-end;
    background-color:#FFFFFF;
    height: 20px;
    margin-left:20px; 
    
  
   
  }
  img{
    border-radius: 50%;
  }
  .header2 .child{
   padding-right:10px;
 
 }
  .header2 .first-child{
    padding-bottom: 10px;
    padding-right:10px;
    font-family: robot;
    font-weight: 500;
    font-size: 12px;
    color: #595959;
  }
  .header2 .second-child{
    margin-right: 8px;
    margin-bottom: 10px;
    
  }
.container {
    background-color: #f6f8f9;
    min-height: 500px;
    margin: 35px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.blue-box {
    margin-top: 60px;
    border-top-left-radius: 15px;
    width: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blue-box p {
    margin: 30px 0px;
    transform: rotate(-90deg);
}

.blue-box .inside {
    border-top-left-radius: 15px;
    width: 100%;
    height: 70px;
    background-color: #245070;
}

.blue-box .menu {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #000000;
    width: 95%;
    border-bottom-left-radius: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.menu>div {
    width: 100%;
    padding: 9px 0px;
    text-align: center;
    margin: 10px 0px;
}

.menu>div:nth-of-type(2) {
    border-right: 3px solid #E6AF2E;
}

.container2 {
    width: 100%;
    margin-left: 25px;
    box-shadow: 0px 0px 4px #000000;
    opacity: 1;
    background-color: #fcfcfc;
}

.section {
    padding: 50px;
    background-color: #ffffff;
}

.flex p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.option {
    margin: 60px 0px;
}

.option button {
    margin-right: 25px;
    width: 122px;
    height: 43px;
    /* background: #245070; */
    border: 0.5px solid #245070;
    border-radius: 7px;
}

.box {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #d5e2e8;
    align-items: center;
    margin-top: 10px;
    background-color: #F7F7F7;
}

.box .first1 {
    border: none;
    display: flex;
}

.box .p {
    font-weight: bold;
    color: #505050;
    margin-left: 20px;
    display: flex;
    padding: 7px;
}

.box .p span {
    margin-left: 10px;
    line-height: 10px;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 3px;
}

.rose {
    /* padding: 0px 10px 15px 10px; */
    margin: 20px 0px 0px 20px;
    border-left: 1px solid #F7F7F7;
}

.dio {
    padding: 10px 10px 15px 10px;
    margin-bottom: 10px;
}

.dio p {
    margin-bottom: 10px;
}

.back {
    /* margin-left: 20px; */
    background-color: #F4F8FA;
    /* width: 70%; */
    width: 735px;
    height: 166px;
    padding: 10px 10px 10px 2px;
    border-left: 1px solid #F7F7F7;
    align-items: center;
}

.back input[type="text"] {
    border: 1px solid #EDEAEA;
    width: 647px;
    height: 71px;
}

.back button {
    border: none;
    outline: none;
    margin: 15px;
    width: 90px;
    height: 29px;
    background: #32BDD2;
    box-shadow: 0px 2px 4px #000000;
}

.details {
    padding: 0px 10px 15px 10px;
    margin: 2px 0px 0px 20px;
    width: 60%;
    border-left: 1px solid #41A6DF;
}

.details p {
    margin-left: 25px;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.round {
    border: 1px solid black;
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: -20px;
}

.details :first-child {
    padding: 0px 0px 15px 0px;
    font-weight: bold;
}

.roy {
    margin-left: 25px;
    padding: 15px 10px 15px 33px;
    margin: 1px 20px;
    width: 60%;
    border-left: 1px solid #747474;
}

.make {
    margin-left: 20px;
    width: 70%;
    padding: 10px 10px 10px 2px;
    border-left: 1px solid #747474;
}


.in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in p {
    color: white;
    margin-left: 15px;
}

 .more {
    margin: 20px 0px 60px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    opacity: 1;
}

.more div {
    color: #707070;
    font-size: 12px;
    font-family: Roboto;
} 

.inside img{
    margin-left:25px;
    margin-top: 30px; 

}