*{
    margin:0;
    padding:0;
}

body{
    background-color:lightgray;
}
.header1{

    display: flex;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;
    background-color:white;
    height: 60px;
  
  
  }
  .header2{
    display: flex;
    flex-direction:row;
    align-items: center ; 
   justify-content:flex-end;
    background-color:white;
    height: 20px;
  
   
  }
  img{
    border-radius: 50%;
  }
  .header2 .child{
   padding-right:30px; 
 }
  .header2 .first-child{
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right:30px;
  }
  .header2 .second-child{
    margin-right: 8px;
  }
  .myrequest{
    display: flex;
    flex-direction:row;
    background-color:white;
    padding: 10px;
    height: 60px;
    margin: 20px;
  
    
  }
  .txt{
    margin:15px;
    font-size: 25px;
  }
  .txt span{
  line-height: 20px;
  margin-left: 130px;
  border-bottom: 2px solid aqua;
  }
  .search-container{
     border-radius: 25px; 

     border: 1px solid black;
     flex-grow: 6;
     width: 20px;
     height: 45px;
     margin-top: 10px;
     margin-left: 40px;
     
  
  
  
  }
   .search-container input{
    width: 60%;
      padding:0.10px;  
     font-size: 20px;
    outline: none;
    border: none;
    height: 40px;
    margin-left: 30px;
  
   

    
  }  
  .search-container img{
    position: relative;
    float: right;
    margin-left: 5px; 
    height: 45%;
    margin-right: 20px;
    margin-top: 13px;
    width: 20px;
  
    

}
.button{
  
  flex-grow: 2;
}
.button button{
  padding: 20px;
  color: white;
  font-size: 12px;
  background-color: #32bdd2;
  width: 40%;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 50px;
  
}
.search-container span{
  font-size: 20px;
  float: left;
  margin: 10px;
}