*{
    margin:0;
    padding:0;
}

body{
    background-color:white;
}
.header1{

    display: flex;
    float: left;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;
    background-color:lightgrey;
    height: 40px;
  }
  .header2{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    background-color:lightgrey;
    height: 40px;
  }
  img{
    border-radius: 50%;
  }