*{
    margin:0;
    padding: 0;
}
/* .a{
    height:100px; 
    width:1000px; 
} */
.left{
    background-color:red; 
    float:"left"; 
    height:"100px"; 
    width:75%;
}
.right{
    background-color:blue; 
    float:"left"; 
    height:100px; 
    width:25%;
}
.bottom{
    background-color:pink; 
    float:"left"; 
    height:100px; 
    width:100%;
}
