*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
}

body{
  background-color:#F6F8F9;
}

.shoplist
{   float: left;
    width: 40.7%;
    height:720px;
    border: 1px solid black;
    background-color: white;
    
}

.location
{   float: right;
    width: 58%;
    height: 720px;
    border: 1px solid black;
}

button
{
 margin-left: 130px; 
margin-top: 5px;
font-size: 14px;
background-color: #32BDD2;
}
.search
{

border: 1px solid black;
height:40px;
width:70%;
border-radius: 25px;
margin-left: 60px;
margin-top:5px;
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.imagesearch
{
    width: 30%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;
}
.shopcontainer
{   
    margin-top: 5px;
    border: 1px solid black;
    height:80px;    
    width:80%;
    margin-left: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.shopdetails
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* padding-right:45%; */
    margin-right: 45%;
    font-size: 15px;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: -15px;

  }
  
   .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
  } 
  
   

   
   .dropdown-content {
    display: none;
    position: absolute;
     margin-top: -10px; 
    background-color: #FFFFFF;
    min-width: 140px;
    min-height: 274px;
    overflow: auto; 
    box-shadow: 0px 3px 10px  #E0E0E0;
    z-index: 1;
    border: 0.5px solid #E0E0E0;
    z-index: 1;  
    margin-left: 400px;
    
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color:#5A5A5A;
    font-family: roboto;
    font-weight: 400;
  

  }
  
  .dropdown a:hover {background-color: #ddd;}
  .show {
    display: block;

  }
   /* #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
   */
   #myUL {
    list-style-type:none ;
    padding: 0;
    margin: 0;
  } 
   
  #myUL li a {
    /* border: 1px solid #ddd; */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    /* padding: 12px; */
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block
    
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  
  