*{
    margin:0;
    padding:0;
 box-sizing: border-box; 
        
 }


  .first1  {
   display: flex;
   flex-direction: row;
    justify-content: flex-end;
     align-items: center;  
     flex-grow: 5;
     margin-right: 5px;
  }

 .first1 img{
     margin-right: 2px;
 }