*{
    margin:0;
    padding:0;
     box-sizing: border-box; 
  }
  
  body{
    background-color:#ffffff;
  
  
  }
  .header1{
  
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;
    background-color:#ffffff;
     height: 50px; 
  
    
  }
  .header img{
    padding-bottom: 5px;
  }
  
  .header2{
    display: flex;
    flex-direction:row;
    align-items: center ; 
     justify-content:flex-end; 
    background-color:#ffffff;
    height: 50px;
    margin-left:10px;
    margin-right: 10px;
     
    
  
   
  }
  .second-child img{
    border-radius: 50%;
  }
  .header2 .child{
     padding-right:10px; 
     padding-bottom: 6px;
     
  }
  .header2 .first-child{
    padding-bottom: 10px;
     padding-right:10px; 
    font-family: robot;
    font-weight: 500;
    font-size: 12px;
    color: #595959;
  }
  .header2 .second-child{
     margin-right: 8px; 
    margin-bottom: 10px;
    
  }
  .header2 .third-child{
    margin-right: 8px; 
    margin-bottom: 10px;
    
   }
   .first{
    display: flex;
    flex-direction:row;
    align-items: center;
    background: rgb(240,237,237) ;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
}
.first img{
  padding-right: 3px;
  border-radius: none;

}



.title{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    padding-top: 2%;
    padding-left: 3%;
}
.title1{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
}

.title1 span{
  font-weight: bold;
}
.title1 img{
  margin-left: 20px;
  color: purple;
}
.title2 p{
  font-weight: bold;
  padding-top: 3px;
}
.main{
  padding-top: 2%;
  padding-left: 3%;
}

.main1{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 30%;
}
#prg{
  color: blueviolet;
  padding-bottom: 2px;
  border-bottom:2px solid blueviolet;
  }
  
  #plan{
  padding-right: 20px;
  }
  
  
  .icon{
      padding-top: 1%;
      padding-bottom: 1%;    
  }
  /* .outer{ */
    /* border-left:1px solid black; */

  
  .icon img{
      margin:0.5%
      
  }
  .a{
    display: flex;
    flex-direction:column;
    padding-bottom: 1.5%;
    border-left:1px solid black; 
   
    
}

.b{
    display: flex;
    flex-direction:row;
    align-items: center;   
}

 .circle{
     border-radius: 50%;
     display: flex;
     background-color: #ffffff;
     border:1px solid black;
     padding:0.5%;
     margin-left: -0.6%;
     margin-top: -1%;
      

     /* position: absolute;
    border-radius: 50%;
     display: inline-block; 
   
    padding: 0.5%;
    top:0;
    left:-8px; */
    

}

#c{
    font-weight: bold;
    margin-left: 3%;
}
.text{
    
  display: flex;
  flex-direction: column;
   width: 70%; 
  border-left:1px solid black; 
  

}
.text1{
  background: blueviolet;
   display: flex;
  /* position: relative; */
}
.text2{
 width: 30%;  
 float: left; 
  padding-left: 3%; 
  
}

#text-span{
  padding-left: 5%;
  font-weight: bold; 
  padding-top: 30px;
}
.text-right{
  width: 60%;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.text-right1{
  width: 30%;
  float: right;
}

  .circle1{
    border-radius: 50%;
    display: flex;
    background-color: #ffffff;
    border:1px solid black; 
    padding:3%;
    width: 2%;
    margin-left: -15%;
    margin-bottom: -10%;
    margin-top: 5%;
     
    
    

 }
