*{
    margin:0;
    padding:0;
    /* box sizing:border-box; */
        
 }
 body{
    background-color:white;
    padding: 30px;
}
.top{
    width: 550px;
    height: 450px;
    background-color:#f0f0f0; 
    margin:auto;
    padding: 50px;
   
}
.centerdiv{
   width: 500px;
   height: 450px;
   position: absolute;
   background-color:white;
   border-radius: 3%;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   text-align-last: left ;
   box-shadow: aqua;
   border:1pc;
   margin: auto;
   box-shadow:  0px 4px 4px 4px grey;
   color: black;
   
}
.h2{
text-align: left;
color: rgb(226, 21, 21);
text-transform: uppercase;
font-size: 2em;
margin-top: -50%;
margin-bottom: 50px;
text-shadow: -2px 2px 1p blue;
}
.inputbox{
width: 350px;
height: 20px;
display: block;
text-align-last: left;
padding: 0 10px;
margin: auto;
}
.placeholder{
   letter-spacing: 2px;
   color:black;
   font-size: 2em;
}
button{
width: calc(100% - 80%);
height: 30px;
margin: center; 
color: white;
background-color: rgb(0, 162, 255); 
border-radius: 50px 50px 50px 50px;
text-align-last: center;
}
.forgor-section{
width: calc(100% - 80%);
line-height: 30px;
display: block;
margin: auto;
text-transform: uppercase;
font-size: 0.8em;
text-align-last: left;

}
.psw{
   float: right;
   color: black;
   
}
.box{
   float: left;
   color: black;
}
.a{
   position: absolute;
   left: 70px;
}


