* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      background-color: lightgrey;
  }
  .header1 {
    border-bottom: 1px solid slategray;
    padding: 5px 20px;
    position: relative;
    background-color: white;
  }

  .header2 {
    float: right;
  }
  
  .child {
    float: left;
  }
  
  .child:nth-of-type(1) {
    padding: 3px 0 0 0;
  }
  
  .child:nth-of-type(2) {
    padding: 15px 5px 5px 5px;
  }
  
  .child:nth-of-type(3) {
    padding: 14px 0 0 0;
  }
 .header2::after {
    content: "";
    clear: both;
  }
  
  .container {
    margin: 30px;
    background-color: gray;
    box-shadow: 0 0 8px 0.1px gray;
  }
  
  .myrequest {
    padding: 20px 5px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
  }
  
  
  
  .first {
    float: left;
     width: 20%;
    padding: 10px 140px 0px 30px;
    font-size: 16px;
  }
  
  .second {
    float: left;
    width: 60%;
    margin-top: 3px;
    position: relative;
    border-radius: 40px;
    border: 1px solid grey;
  }
  
  .second img {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  
  .search {
    padding: 10px;
    width: 92%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    outline: none;
    border: none;
  }
  
  .third {
    float: right;
    width: 20%;
    padding: 5px 30px 0 0;
    text-align: right;
  }
  
  .third button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 12px;
    background-color: #32bdd2;
  }
  
   .filterdiv {
    overflow: auto;
    margin-top: 1px;
    border-bottom: 1px solid #f6f8f9;
    background-color: #ffffff;
    padding-bottom: 20px;
  }
  
  .filterdiv div {
    padding: 10px 30px;
  }
  
  .filter2 {
    padding-top: 5px;
  }
  
  .filterdiv img {
    float: left;
    margin-right: 10px;
  }
  .requestlist {
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #f6f8f9;
    margin-top: 1px;
  }
  .a {
    float: left;
    width: 33.33%;
    font-size: 16px;
    padding: 0px 30px;
  }
  
  .b {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  
  .c {
    float: right;
    width: 33.33%;
    text-align: right;
    padding: 20px 30px 0 0;
  }
  
  .PUR {
    margin-bottom: 15px;
    color: #505050;
    margin: 0%;
  }
  
  .Submitted {
    font-size: 15px;
    color: #505050;
    margin-bottom: 0%;
  }
  
  .date {
       color: #505050;
  }
  
  .approved {
    color: #5a5a5a;
  }
  
  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #24d081;
    margin-left: 10px;
    display: inline-block;
  }
  
  .showmore {
    margin-top: 1px;
    overflow: auto;
    margin-top: 1px;
    padding: 10px;
    border-bottom: 1px solid #f6f8f9;
    background-color: #ffffff;
  }
  
  .showmore div {
    padding: 10px 30px;
    text-align: center;
  }
  
  .showmore img {
    margin-top: 30px;


  }